<h1 alig="center">Pages#batman-vs-superman</h1>
<a href="<%= pages_batman_path%>">
  <img src="http://www.nerdgasmo.com/wp-content/uploads/2012/08/Bat07.jpg" alt="Smiley face">
</a>

<a href="<%= pages_superman_path%>">
  <img src="https://upload.wikimedia.org/wikipedia/en/e/eb/SupermanRoss.png" alt="Smiley face">
</a>
